*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#cordenadasInfo{
    position:fixed;
    left:10px;
    top:10px;
    font-family:sans-serif;
}

#bola{
    position: fixed;

    left: 0;
    top: 0;

    transition: transform 5.5s ease;

    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#jugadorArea{
    /* background-color: rgba(0, 255, 255, 0.185); */
    width: 100px;
    height: 100px;

    pointer-events: none;
}